<!DOCTYPE html>
{% load static %}
<html lang="en">

{% if message %}
<script>
 alert('{{message}}');
</script>
{% endif %}
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!--font link-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap" rel="stylesheet">

<!--bootstrap link-->
    <link rel="stylesheet" href="/static/css/bootstrap.css">
<!--css link-->
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="stylesheet" href="/static/css/media.css">
    <title>Foodie</title>
  <!--Tittlebar Icon Link-->
    <link rel="shortcut icon" href="/static/image/icon.jpg">
</head>

<body>

  <!--header start-->
  <header>
    <div class="container">
        <!--Nav Start-->
        <nav class="navbar navbar-expand-lg c_nav">
            <div class="container-fluid px-0">
            <!--Logo start-->
              <a class="navbar-brand" href="index.html">
                <img class="img-fluid logo" src="/static/image/logo.png" alt="BisLite">
              </a>
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#Navbar" aria-controls="Navbar" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon" style="background-color: whitesmoke;"></span>
              </button>
              <div class="collapse navbar-collapse menu" id="Navbar">
                <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                  <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="http://127.0.0.1:8000/">HOME</a>
                  </li>
                  

                  <li class="nav-item">
                    <a class="nav-link" href="#">MENU</a>
                  </li>

                  <li class="nav-item">
                    <a class="nav-link" href="contact/">CONTACT US</a>
                  </li>

                  <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                      Log In
                    </a>
                    <ul class="dropdown-menu">
                      <li><a style="color: black !important; font-family: sans-serif;" class="dropdown-item" href="http://127.0.0.1:8000/admin/" >Admin</a></li>
                      <li><a style="color: black !important; " class="dropdown-item" href="#" style="color: black">User</a></li>
                    </ul>
                  </li>
                
              </div>
            </div>
          </nav>

        <!--Nav End-->
    </div>
</header>
<!--header end-->

   


   
      
    <!--contact slider-->

    <section class="conus">
      <div class="container">
       <div class="row conus1">
        <div class="con_sl col-lg-7 col-md-6">
          <h2>Contact Us</h2>
          <p >Lorem ipsum dolor sit amet consectetur adipisicing elit. Sapiente, non laborum. Laborum dolores labore repellat recusandae laudantium dignissimos voluptate saepe repudiandae sequi nobis, quis nemo in tenetur eveniet, deserunt beatae, ex assumenda quos! Libero provident sit eum officiis totam laboriosam, sint enim ullam explicabo, aliquam magni repellendus amet itaque quis.</p>
        </div>

        <div class="cons_img col-lg-5 col-md-6">
          <div class="cons_img_in">
            <img src="/static/image/contact_us.jpg" alt="Foodie">
          </div>
        </div>
       </div>
      </div>
    
    </section>

     


    <!--contact slide end-->


    <!--query part start-->


    <section class="conus">
      <div class="container quer">
        <div class="row conus1 justify-content-center ">
          <div class="col-lg-3">
               <h2>Contact Us</h2>
               <h3>Contact For Any Query</h3>
          </div>
        </div>
      </div>
    </section>

    <!--query part end-->

    <!--map part start-->

    <section class="map conus">
      <div class="container map_in">
           <div class="row">
            <div class="col-lg-6">
              <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3649.863508015115!2d90.42740911453532!3d23.823452184553357!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3755c711e40e8421%3A0x8a8caf14832593ce!2sCrimson%20Cup%20Bashundhara!5e0!3m2!1sbn!2sbd!4v1679248997669!5m2!1sbn!2sbd" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>

            <!--form part-->
            <div class="col-lg-6 frm">
              <form  name="sentMessage" method="post">
                {% csrf_token %}
            <h2 class="fed">GIve Your FeedBack</h2>

                <div class="mb-3">
                    <label for="exampleInputEmail1" class="form-label">Name</label>
                    <input type="text" class="form-control" id="name" name="name" aria-describedby="emailHelp" required="required" data-validation-required-message="Please Enter your name">
                    
                  </div>
            
                <div class="mb-3">
                  <label for="exampleInputEmail1" class="form-label">Email address</label>
                  <input type="email" class="form-control" id="email" name="email" aria-describedby="emailHelp" required="required" data-validation-required-message="Please Enter your email">
                  
                </div>
            
                <div class="mb-3">
                  <label for="exampleInputEmail1" class="form-label">FeedBack</label>
                  <textarea type="text" class="form-control" id="message" name="message" aria-describedby="emailHelp" required="required" data-validation-required-message="Please Enter your feedback"></textarea>
                  
                </div>
                
                
                <button type="submit" class="btn btn-primary">Submit</button>
              </form>
            </div>
           </div>
      </div>
    </section>

    <!--map part end-->
       



   </div>





  <!--Footer start-->
 
 <section class="footer">
  <div class="container">
   <div class="fot-content">
   <div class="row justify-content-center">

     
     <div class="col-md-4 col-8">
       <p>HALOVIETNAM LTD <br>
         66, Dang Van ngu, Dong Da <br>
         Hanoi, Vietnam <br>
         contact@halovietnam.com<br>
         +844 35149182
       </p>
     </div>

     <div class="col-md-2 col-6">
       <p> <a href="#">Examples </a><br>
         <a href="#">Shop </a><br>
         <a href="#">License </a><br></p>
     </div>

     <div class="col-md-2 col-6">
       <p><a href="#">Contact </a><br>
         <a href="#"> About </a> <br>
         <a href="#">Privacy </a> <br>
         <a href="#">Terms </a></p>
     </div>

     <div class="col-md-2 col-6">
       <p><a href="#">Download </a> <br>
         <a href="#"> Support </a><br>
           <a href="#"> Documents </a></p>
     </div>

     <div class="col-md-2 col-6">
      <p><a href="#">Media </a> <br>
       <a href="#">Blog </a><br>
         <a href="#">Forums </a></p>
     </div>
   </div>
   </div>
  </div>
</section>




   <!--Footer end-->

<!--Javascript link-->
<script src="/static/js/bootstrap.bundle.min.js"></script>
<script src="/static/js/script.js"></script>
</body>
</html>